/*Estilos para el contenedor del Login */
.container {
    max-width: 400px; /* Ajusta este valor según lo angosto que quieras el formulario */
    margin: auto;
    margin-top: 50px; /* Ajusta este valor para separar más o menos el formulario del nav */
}
#loginForm {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}